$color--primary ?= rgba(0, 0, 0, 1)
$color--secondary ?= rgba(255, 0, 0, 1)
$color--gray-light ?= rgba(241, 242, 241, 1)
$color--gray-middle ?= rgba(204, 204, 204, 1)
$color--gray-dark ?= rgba(153, 153, 153, 1)
$color--success ?= rgba(127, 175, 27, 1)
$color--warn ?= rgba(255, 153, 0, 1)
$color--error ?= rgba(255, 0, 0, 1)