$default--font-family ?= Georgia, Times, 'Times New Roman', serif
$default--font-size ?= 18px
$default--line-height ?= 1.5
$default--letter-spacing ?= 0
$default--space-x ?= 15px
$default--space-y ?= $default--line-height * $default--font-size